// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#carouselExampleControls {
	max-width: 960px;
	margin: 10px auto;
	min-height: 600px;
}

.company-item {
	box-shadow: 0 2px 20px rgba(243, 4, 4, 0.26);
	margin: 3rem auto;
	border-radius: 10px;
	padding: 1rem;
	background-color: white;
}
#home-page h1 {
	color: white;
}
#home-page .content {
	background-color: #fc625a;
	padding: 5px 20px;
	border-radius: 10px;
}

.logo-container {
	width: 10rem;
	height: 10rem;
}
